/*@mixin enlace($bckg,$pdg,$clr){
	background-color:$bckg;
	padding:$pdg;
	color:$clr;
}
@mixin cuadro{
	border:1px solid #888C8C;
	text-align:center;
	padding:10px;
	margin-bottom:10px;
	height:230px;
}
@mixin blog{
			background-color: $grey-claro;
			padding:10px;
			text-align: left;
			font-size: 10px;
			img{
				padding:5px;
				height: 60px;
				background-color:white;
			}
}*/
