$orange:#DF3A01;
$grispalido:#CED2D2;
$grisclaro:#E6E6E6;
$grismedio:#A4A4A4;
$gray:#585858;
$rojo:#D24042;
$red:#FF0000;
$azul:#1345A9;
$celeste:#2AA9D2;
$amarillo:#D2AA0A;
$naranja:#D26C0A;
$white:#FFFFFF;
$black:#000000;
$esp3: 30px;
$esp6: 60px;
$scale:scale(1.5);

